.form_card {
    display: flex;
    align-items: center;
    padding: 2rem 4.5rem;
}

@media screen and (max-width: 425px) {
    .form_card {
        flex-direction: column;
        padding-inline: .75rem;
    }
}