.navbar {
    border-right: 1px solid #ffffff2f;
    background-color: rgba(255, 255, 255, 0.048);
    backdrop-filter: blur(10px);
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15%;
}

.navbar::after {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 3.25rem;
    background-color: #9747FF;
    filter: blur(120px);
    /* animation: color-change 10s infinite linear alternate; */
}
.logo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.platform_name {
    font-size: .85rem;
    font-weight: bold;
    text-transform: uppercase;
}

@keyframes color-change {
    0% {
        background-color: #9747FF;
    }
    25% {
        background-color: #82e36a;
    }
    50% {
        background-color: #E3A16A;
    }
    75% {
        background-color: #f1c638;
    }
    100% {
        background-color: #FF5CAA;
    }
}

.auth_button {
    position: absolute;
    right: 10%;
}

.btn_icon {
    margin-inline-start: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.auth_button:hover .btn_icon{
    transform: translateX(0.35rem);
}

.logo_tagline {
    font-size: small;
    align-self: center;
    letter-spacing: 1px;
}

.link_with_avatar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff1f;
    background-color: rgba(212, 37, 247, 0.034);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
    max-width: fit-content;
    margin-top: 1.25rem;
    align-self: center;
    transition: transform .25s ease, background-color .45s ease;
}
.link_with_avatar:hover {
    background-color: rgba(212, 37, 247, 0.1);
    transform: scale(1.05);
}
.user_name {
    font-size: small;
}

.glass_link {
    display: flex;
    background-color: rgba(255, 255, 255, 0.03);
    /* width: fit-content; */
    padding: .5rem .95rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
}

@media screen and (max-width: 768px) {
    .auth_button {
        position:relative;
        right: 0;
    }
    .navbar {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo_tagline {
        margin: 1rem 0;
    }
}