@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~spinners-react/lib/index.css";

body {
  color: #fff;
  background: #000000
}

.auth-button {
  padding: .75rem 1.45rem;
  background-color: rgba(255, 220, 64, 0.05);
  border-radius: 1.5rem;
  border: 1px solid #ffffff3d;
  transition: all .25s ease;
}
.auth-button:hover {
  background-color: rgba(255, 220, 64, 0.1);
  border-color: #ffffff11;
}

.main-content {
  width: 85%;
  overflow-y: scroll;
}

.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader_heading {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5rem;
}

.loader_description {
  margin-bottom: 5rem;
}