.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
  width: 100%;
  position: relative;
}

.main_content {
  border-right: 1px solid #5a5a5a65;
  position: relative;
  width: 100%;
}
.main_content_nav {
  width: 100%;
  padding: 1rem 2rem;
  z-index: 100;
}
/* .notes_timeline_component {
  padding-top: 5rem;
} */
.search_box {
  position: fixed;
  right: 6rem;
}
.ads_section {
  width: 40%;
  height: 100%;
  padding: 2rem 1rem;
}