.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5rem 12rem;
    height: 100vh;
}
.search_box_wrapper {
    width: 50%;
    margin-bottom: 3rem;
}
.search_box {
    padding: .75rem 1.25rem;
    border: none;
    outline: none;
    width: 75%;
    border-radius: .75rem;
    color: #000;
    margin-right: 1rem;
}
.search_label {
    cursor: pointer;
}
.category {
  margin: 1rem 0;
  background-color: #d4a7ff;
  color: black;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  border-radius: 0.85rem;
  font-size: 0.75rem;
}

.card {
  width: 23rem;
}

.notes_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2.5rem;
  grid-row-gap: 2rem;
}
